.signup-container{
    margin: 50px 100px;
    h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    input{
        height: 30px;
        margin-right: 10px;
        border-radius: 4px;
        outline: none;
        border: 1px solid gray;
        padding-left: 10px;
    }
    button{
        background-color: #4b7bec;
        color: white;
        border: 0;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
    }

}